@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* All */
body {background-color: #252425; font-family: 'Roboto'; color: #212121;}
h1 {font-family: 'Archivo Black'; color: #FC5C1C;}
h2 {font-size: 50px; font-weight: bolder;}
.game-title {font-family: 'Press Start 2P'; color: #66C5BF; text-transform: uppercase;}
.container {text-align: center;}

/* Header */
header {position: fixed; width: 100%; top: 0; text-align: center; background-color: #1F1E1F; color: #ffffff; z-index: 1000000000;}
header img {height: 6rem;}
header .row {align-items: center;}
.header-icon:hover {transform: scale(1.2);}
.header-icon {margin: 0 1rem; transition: 0.3s;}

/* PAGE */
.container {margin-top: 8rem; margin-bottom: 3rem;}
.container p, h2 {color: white;}

/* Footer */
.footer {
    background-color: #1F1E1F;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
.footer div {
    flex: 1;
}
.footer a {
    color: #00AEEF;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.separator {
    position: absolute;
    width: 1px;
    background-color: white;
    height: 70px;
}

/* Card */
.card {margin: 2rem 5rem; border-radius: 10px; padding: 2rem; transition: 0.3s; background-color: #1F1E1F; color: #ffffff;}
.card img {border-radius: 10px;}

/* Button */
.kakou-btn {position: relative; background: linear-gradient(90deg, #FC5C1C, #FC5C1C); color: white; font-weight: 600; transition: 0.3s; width: 14rem; padding: 10px; border-radius: 5px; font-size: 22px; cursor: pointer; overflow: hidden;}
.kakou-btn:hover {scale: 1.1; box-shadow: 3px 3px 5px #FC5C1C;}
.quest-btn {position: relative; background: linear-gradient(90deg, #483B3A, #C24531); color: white; transition: 0.3s; font-weight: 600; width: 14rem; padding: 10px; border-radius: 5px; font-size: 22px; cursor: pointer; overflow: hidden;}
.quest-btn:hover {scale: 1.1; box-shadow: 3px 3px 5px #AA8D7A;}
.line-button {
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.line-button:hover {
    background-color: #FC5C1C;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    color: black;
    font-size: 18px;
}
.line-button img {
    height: 30px;
    margin-right: 10px;
    filter: invert(100%) brightness(200%);
}
.line-button span {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 18px;
    font-weight: 800;
}

/* Input */
.input {border-radius: 5px; outline: 2px solid #FC5C1C; border: 0; background-color: #e2e2e2; outline-offset: 4px; padding: 10px 1rem; transition: 0.25s;}
.input:focus {outline-offset: 3px; background-color: #ffffff;}

.quest-input {border-radius: 5px; outline: 2px solid #483B3A; border: 0; background-color: #e2e2e2; outline-offset: 4px; padding: 10px 1rem; transition: 0.25s;}
.quest-input:focus {outline-offset: 3px; background-color: #ffffff;}

.input-text {color:#000000; border-radius: 5px; border: 0; background-color: #bebdbd; outline-offset: 4px; padding: 10px 1rem; transition: 0.25s; }
.input-text:focus {outline-offset: 3px; background-color: #ffffff;}

/* CheckBox */
.checkbox-container {display: block; position: relative; cursor: pointer;}
.checkbox-container input {position: absolute; opacity: 0; cursor: pointer;}
.checkmark {position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: transparent; border: 2px solid #FC5C1C; border-radius: 5px; transition: 0.3s;}
.checkbox-container:hover input ~ .checkmark {background-color: #f9dcb3;}
.checkbox-container input:checked ~ .checkmark {background-color: #FC5C1C; border: 2px solid #212121;}
.checkmark:after {content: ""; position: absolute; display: none;}
.checkbox-container input:checked ~ .checkmark:after {display: block;}
.checkbox-container .checkmark:after {left: 9px; top: 5px; width: 6px; height: 12px; border: solid #212121; border-width: 0 3px 3px 0; transform: rotate(45deg);}

.quest-checkbox-container {display: block; position: relative; cursor: pointer;}
.quest-checkbox-container input {position: absolute; opacity: 0; cursor: pointer;}
.quest-checkmark {position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: transparent; border: 2px solid #483B3A; border-radius: 5px; transition: 0.3s;}
.quest-checkbox-container:hover input ~ .quest-checkmark {background-color: #AA8D7A;}
.quest-checkbox-container input:checked ~ .quest-checkmark {background-color: #C24531; border: 2px solid #212121;}
.quest-checkmark:after {content: ""; position: absolute; display: none;}
.quest-checkbox-container input:checked ~ .quest-checkmark:after {display: block;}
.quest-checkbox-container .quest-checkmark:after {left: 9px; top: 5px; width: 6px; height: 12px; border: solid #212121; border-width: 0 3px 3px 0; transform: rotate(45deg);}

/* Color Site */
/* Rouge : #FA283A */
/* Orange : #FC5C1C */
/* Orange/Jaune : #FFB007 */
/* Jaune : #FFD458 */

/* Color Jeu */
/* Rouge : #C24531 */
/* Orange : #E67631 */
/* Beige : #AA8D7A */
/* Marron : #483B3A */
/* Noir : #212121 */